.product-card{
    background: #fff;
    border-radius: 12px;
    padding:15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in;
    cursor:pointer;
    list-style: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1rem;
}

.product-card:hover{
    transform: translateY((-5px));
    box-shadow: 0 4px 14px rgba(0,0,0,0.15);
}

.product-image{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.product-content{
    margin-top: 12px;
}

.product-title{
    font-size: 0.9 rem;
    color: #555;
    margin-bottom: 10px;
}

.product-category {
  font-size: 0.85rem;
  color: #007bff;
  font-weight: 500;
  margin-bottom: 10px;
}

.product-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #28a745;
}
.details-btn {
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  color: white;
  cursor: pointer;
  transition: 0.25s;
  font-weight: 500;
}

.details-btn:hover {
  background: #0056b3;
}

@media (max-width: 480px) {
  .product-img {
    height: 150px;
  }

  .product-card {
    padding: 12px;
  }

  .product-title {
    font-size: 1rem;
  }

  .product-price {
    font-size: 1rem;
  }
}
